# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
wheels/
parts/
var/
sdist/
*.spec

# Python Virtual Environment
python_api/venv/

# Log files
*.log
python_api/app/logging

# Instance-specific files
.env
.env.*
instance/

# Rust
rust_engine/target/
# Cargo.lock is often committed, so not ignoring it by default.

# Redis dump file
python_api/dump.rdb

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo